:root{
    --navbar-bg-color: #0d3678;
    --main-bg-color: #06c;
    --h3-color: #0a2247;
    --table-color: black;
    --bgeven-color: #7ba3e0;
    --bgodd-color:#a8cbff;
    --alert-color:rgb(172, 16, 16);
    --main-txt-color: #333;
    --white-color: white;
}
/*The white box will be on the front of blue background*/
.white{
    --box-bg-color: var(--alert-color);
    --box-main-color: var(--main-bg-color);
    --box-padding: 5px 10px;
    /* --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;*/
} 

/*The white box's*/
.white{
    background-color: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    /* box-shadow: 
        var(--box-shadow-h-offset) 
        var(--box-shadow-v-offset) 
        var(--box-shadow-blur)
        var(--box-main-color); */
}

html, body {
    background-color: var(--navbar-bg-color);
}

h2 {
    color: white;
    font-weight: bolder;
}

h3 {
    --box-bg-color: val(--h3-color);
}

h3 {
    background-color: var(--box-bg-color);
    color: white;
    padding: 10px;
    text-align: center;
}

h5 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}

table {
    width:100%;
    color: var(--table-color);
    font-size: 18px;
    font-weight: bolder;
}

table, th, td {
    border: 1px solid var(--table-color);
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
    width: 100%;
}

table tr:nth-child(even) {
    background-color: var(--bgeven-color);
}

table tr:nth-child(odd) {
   background-color: var(--bgodd-color);
}

table th {
    background-color: var(--table-color);
    color: white;
}

.normalButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .square {
    height: 50px;
    width: 50px;
    background-color: white;;
  }

#stopNumberForm {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    width: 250px;
}

#clock {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
