/* :root{
    --main-bg-color: #0d3678;
    --main-txt-color: #333;
    --container-width: 90%;
    --h3-color: #0a2247;
    --table-color: black;
    --bgeven-color: #7ba3e0;
    --bgodd-color:#a8cbff;
    --white-color: white;
    --width-width: 100%;
} */
/*The white box will be on the front of blue background*/
.white{
    --box-bg-color: rgb(172, 16, 16);
    --box-main-color: #06c;
    --box-padding: 5px 10px;
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

/*The white box's*/
.white{
    background-color: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    box-shadow: 
        var(--box-shadow-h-offset) 
        var(--box-shadow-v-offset) 
        var(--box-shadow-blur)
        var(--box-main-color);
}

html, body {
    background-color: #0d3678;
}

h2 {
    color: white;
    font-weight: bolder;
}

h3 {
    background-color: #0a2247;
    color: white;
    padding: 10px;
    text-align: center;
}

h5 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}

table {
    width:100%;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
    width: 100%;
}

table tr:nth-child(even) {
    background-color: #7ba3e0;
}

table tr:nth-child(odd) {
   background-color: #a8cbff;
}

table th {
    background-color: black;
    color: white;
}

.normalButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .square {
    height: 50px;
    width: 50px;
    background-color: white;;
  }

#stopNumberForm {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    width: 250px;
}

#clock {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

#btnWhite {
    background-color: white;
    color: black;
}

#btnRed {
    background-color: #f44336;
}